<div fxLayout="row" fxLayoutAlign="space-around" class="example-table-container">
<table mat-table [dataSource]="contactos" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef> Telefono </th>
    <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="empresa">
    <th mat-header-cell *matHeaderCellDef> Empresa </th>
    <td mat-cell *matCellDef="let element"> {{element.empresa}} </td>
  </ng-container>

  <ng-container matColumnDef="editar-eliminar">
    <th mat-header-cell *matHeaderCellDef> Editar - Eliminar </th>
    <td mat-cell *matCellDef="let element">
      <i (click)="dialogOpen()">
        <mat-icon>edit</mat-icon>
      </i>
      <i>
        <mat-icon>delete</mat-icon>
      </i>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
