<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push">
    <mat-toolbar>
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>eject</mat-icon>
      </button>
    </mat-toolbar>


    <mat-nav-list>
      <a routerLink="/contactos" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>perm_identity</mat-icon>
        <span>Contactos</span>
      </a>

      <a routerLink="/remision" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>assignment</mat-icon>
        <span>Remision</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>drag_indicator</mat-icon>
    </button>

    <span class="spacer"></span>

    <button mat-button>Logout</button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>

